.arm {
    width: 20px;
    height: 100px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    border-radius: 10px;
    background: #FFD449;
}
.arm-right {
    height: 115px;
    top: -276px;
    left: 95px;
    box-shadow: inset 0 10px 10px 3px #D5970E;
    z-index: 1;
    -webkit-transform: rotate(-10deg);
     -moz-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
       -o-transform: rotate(-10deg);
          transform: rotate(-10deg);
}
.arm-left {
    top: -159px;
    left: -104px;
    -webkit-transform: rotate(10deg);
     -moz-transform: rotate(10deg);
      -ms-transform: rotate(10deg);
       -o-transform: rotate(10deg);
          transform: rotate(10deg);

    &:before {
        content: "";
        display: block;
        width: 21px;
        height: 40px;
        position: relative;
        top: -18px;
        border-radius: 50%;
        background: #FFD449;
        -webkit-transform: rotate(10deg);
         -moz-transform: rotate(10deg);
          -ms-transform: rotate(10deg);
           -o-transform: rotate(10deg);
              transform: rotate(10deg);
    }
}
.arm {
    &:after {
        content: "";
        display: block;
        width: 22px;
        height: 20px;
        position: relative;
        border-radius: 6px;
        background: #FFD449;
    }
    &.arm-left {
        &:after {
            z-index: 3;
            top: -14px;
            -webkit-transform: rotate(-15deg);
             -moz-transform: rotate(-15deg);
              -ms-transform: rotate(-15deg);
               -o-transform: rotate(-15deg);
                  transform: rotate(-15deg);
        }
    }
    &.arm-right {
        &:after {
            z-index: 3;
            top: 55px;
            left: -2px;
            box-shadow: inset -3px -6px 5px 1px #D5970E;
            -webkit-transform: rotate(15deg);
             -moz-transform: rotate(15deg);
              -ms-transform: rotate(15deg);
               -o-transform: rotate(15deg);
                  transform: rotate(15deg);
        }
    }
}
.hand {
    height: 40px;
    width: 35px;
    position: relative;
    z-index: 1;
    top: 35px;
    left: 0;
    border-radius: 30%;
    box-shadow: inset 0 -2px 10px 5px #222;
    background: #333;
    -webkit-transform: rotate(-20deg);
     -moz-transform: rotate(-20deg);
      -ms-transform: rotate(-20deg);
       -o-transform: rotate(-20deg);
          transform: rotate(-20deg);

    &:before {
        content: "";
        display: block;
        position: relative;
        z-index: 1;
        top: -5px;
        left:-3px;
        width: 30px;
        height: 9px;
        background: #111;
        border: 5px solid #222;
        border-radius: 50%;
        box-shadow: 0 4px 1px 0 #444;
    }
    &:after {
        content: "";
        display: block;
        position: relative;
        z-index: 1;
        top: -100px;
        left: 1px;
        width: 34px;
        height: 30px;
        background: #333;
        border-radius: 50%;
        box-shadow: inset 0 -10px 10px 5px #222;
        -webkit-transform: rotate(5deg);
         -moz-transform: rotate(5deg);
          -ms-transform: rotate(5deg);
           -o-transform: rotate(5deg);
              transform: rotate(5deg);
    }
}
.arm-right .hand {
    top: 105px;
    left: -15px;
    transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
     -moz-transform: rotate(20deg);
      -ms-transform: rotate(20deg);
       -o-transform: rotate(20deg);
          transform: rotate(20deg);
}
.arm-left .hand:after {
    height: 30px;
    width: 30px;
    left: 3px;
    top: -110px;
}
.fingers {
    list-style: none;
    position: relative;
    top: 10px;

    li {
        border-radius: 10px;
        position: relative;
        background: #333;
        box-shadow: inset 0 -10px 10px 5px #222;
    }
}
.fingers-right {
    li {
        &:nth-child(1) {
            z-index: 2;
            width: 20px;
            height: 35px;
            top: -20px;
            left: -50px;
            border-right: 2px solid #000;
            -webkit-transform: rotate(50deg);
             -moz-transform: rotate(50deg);
              -ms-transform: rotate(50deg);
               -o-transform: rotate(50deg);
                  transform: rotate(50deg);
        }
        &:nth-child(2) {
            z-index: 1;
            width: 20px;
            height: 30px;
            top: -50px;
            left: -40px;
            border-right: 2px solid #000;
            -webkit-transform: rotate(40deg);
             -moz-transform: rotate(40deg);
              -ms-transform: rotate(40deg);
               -o-transform: rotate(40deg);
                  transform: rotate(40deg);
        }
    }
}
.fingers-left {
    li {
        &:nth-child(1) {
            z-index: 2;
            width: 25px;
            height: 25px;
            top: -17px;
            left: -43px;
            border-right: 2px solid #000;
            border-radius: 30px;
            -webkit-transform: rotate(10deg);
             -moz-transform: rotate(10deg);
              -ms-transform: rotate(10deg);
               -o-transform: rotate(10deg);
                  transform: rotate(10deg);
        }
        &:nth-child(2) {
            z-index: 1;
            width: 20px;
            height: 24px;
            top: -50px;
            left: -18px;
            border-right: 2px solid #000;
            -webkit-transform: rotate(-30deg);
             -moz-transform: rotate(-30deg);
              -ms-transform: rotate(-30deg);
               -o-transform: rotate(-30deg);
                  transform: rotate(-30deg);
        }
        &:nth-child(3) {
            z-index: 1;
            width: 23px;
            height: 30px;
            top: -63px;
            left: -33px;
            border-right: 2px solid #000;
            -webkit-transform: rotate(0deg);
             -moz-transform: rotate(0deg);
              -ms-transform: rotate(0deg);
               -o-transform: rotate(0deg);
                  transform: rotate(0deg);
        }
    }
}