.legs {
    width: 120px;
    margin: 0 auto;

    .leg {
        width: 40px;
        height: 35px;
        display: inline-block;
        position: relative;
        top: -276px;
        left: 20px;
        background: #146696;
        border-radius: 30%;
        box-shadow: inset 1px 10px 10px 2px #222;
        z-index: 1;
    }
}